:host {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
}

.status-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
}
